li{
    display: inline-block;
    font-size: 15px;
    width: 200px;
    font-family: 'Roboto Condensed', sans-serif;
}
.outer-box{
    display: inline-block;
}
.inner-box{
    display: inline-block;
    width: 500px;
    height: 400px;
}
